@import url('fonts.css');
@import url('null.css');
/* #region ROOT */
:root {
	scroll-behavior: smooth;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-milk-white: #f7f5f5;
	--color-red: #e3000b;
	--color-red-bg: #950e13;
	--color-grey: #606060;
	--color-light-dark: #171313;
	--color-progress-bar: #efefef;
	--font-brotesk: 'Brotesk', sans-serif;
	--font-dmsans: 'DM Sans', sans-serif;
	--font-darker: 'Darker Grotesque', sans-serif;
	--font-mustica: 'Mustica Pro', sans-serif;
	--font-syne: 'Syne', sans-serif;
	--font-transforma: 'Transforma Mix_Trial', sans-serif;
}
/* #endregion */
/* #region BASIC */
body {
	font-family: var(--font-mustica);
	font-size: 16px;
}
/* ---------------------- */
[class*='__container'] {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* ---------------------- */
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding-bottom: 0;
}
.wrapper > .main {
	flex-grow: 1;
}
.main {
	display: flex;
	flex-direction: column;
	gap: 140px;
}
@media (max-width: 991.98px) {
	.main {
		gap: 60px;
	}
}

/* section */
.section__header {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	margin: 0 auto;
	padding-bottom: 80px;
	max-width: 1320px;
}
@media (max-width: 991.98px) {
	.section__header {
		flex-direction: column;
		gap: 24px;
	}
}
.section__title {
	font-family: var(--font-transforma);
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
	color: var(--color-red);
	min-width: 165px;
}
.section__title::before {
	content: url('../images/section_title_icon.png');
	position: relative;
	bottom: -10px;
	margin-right: 24px;
	height: 34px;
}
.section__label {
	font-size: 48px;
	line-height: 1;
}
.section__description {
	color: var(--color-grey);
	font-size: 20px;
	font-family: var(--font-darker);
	line-height: 27px;
}
@media (max-width: 575.98px) {
	.section__header {
		padding-bottom: 24px;
	}
	.section__label {
		font-size: 28px;
		line-height: 1;
	}
	.section__description {
		font-size: 16px;
		line-height: 22px;
		padding-right: 24px;
	}
}
/* #endregion */
/* #region UI */
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.5px;
	height: 64px;
	background-color: transparent;
	border: 2px solid var(--color-milk-white);
	font-family: var(--font-darker);
	font-weight: 700;
	min-width: 227px;
	text-transform: uppercase;
	transition: all 0.3s;
}
.button:hover {
	background-color: var(--color-milk-white);
	color: var(--color-red);
}
/* #endregion */
/* #region MENU */
.mobile__menu {
	position: fixed;
	top: 10px;
	left: 10px;
	right: 0;
	transform: translateX(-110%);
	transition: transform 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	z-index: 1000;
	background-color: var(--color-white);
	padding: 60px 20px;
	gap: 60px;
	border-radius: 40px;
	border: 2px solid var(--color-black);
	max-width: 370px;
}
.mobile__menu:target {
	transform: translateX(0);
}
.mobile__menu--top {
	display: flex;
	align-items: center;
}
.mobile__title {
	font-family: var(--font-syne);
	font-size: 32px;
	line-height: 36px;
	letter-spacing: 0.5px;
	color: var(--color-black);
}
.button__mobile {
	display: none;
}
.mobile__menu--bottom .navigation {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	font-family: var(--font-brotesk);
	font-size: 24px;
	line-height: 17px;
	color: var(--color-grey);
	gap: 24px;
	text-align: left;
}
.navigation__link:first-child {
	color: var(--color-light-dark);
}
@media (max-width: 991.98px) {
	.navigation {
		display: none;
	}
	.button__mobile {
		display: flex;
	}
}

@media (max-width: 479.98px) {
	.mobile__menu {
		max-width: unset;
		right: 10px;
	}
}
/* #endregion */
/* #region HERO */
.hero {
	color: var(--color-milk-white);
	margin: 20px;
	margin-bottom: 0;
}
.hero__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color-red);
	background-image: url('../images/hero/hero.webp');
	background-position: 40% center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: calc(100svh - 40px);
	border-radius: 40px;
	padding: 28px;
}
.hero__header {
	display: flex;
	justify-content: space-between;
}
.hero__menu .menu__list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.hero__menu .menu__link {
	font-family: var(--font-brotesk);
	font-size: 24px;
	line-height: 1;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	opacity: 0.6;
}
.hero__menu .menu__link.active {
	opacity: 1;
}
.header__title {
	font-family: var(--font-syne);
	font-size: 60px;
	line-height: 1;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding-top: 20px;
}
.hero__title {
	font-size: 120px;
	line-height: 1;
	font-family: var(--font-transforma);
	margin-bottom: 28px;
}
.hero__label {
	font-size: 40px;
	line-height: 48px;
	max-width: 966px;
}

@media (max-width: 991.98px) {
	.hero {
		margin: 10px;
		margin-bottom: 0;
	}
	.hero__container {
		padding: 60px 20px;
		min-height: calc(100svh - 20px);
	}
	.hero__header {
		justify-content: flex-start;
		align-items: center;
	}
	.hero__menu {
		display: none;
	}
	.button__order {
		display: none;
	}
	.header__title {
		font-size: 32px;
		line-height: 36px;
		padding-top: 0;
		margin: 0 auto;
	}
	.hero__title {
		font-size: 48px;
		line-height: 48px;
	}
	.hero__label {
		font-size: 22px;
		line-height: 28px;
	}
}
@media (max-width: 639.98px) {
	.hero__container {
		background-position: 50% 50%;
		background-size: 150%;
	}
}
@media (max-width: 390px) {
	.hero__container {
		background-position: 60% 58%;
		background-size: 220%;
	}
}
/* #endregion */
/* #region ABOUT */
.about__container {
	max-width: 1320px;
}

.about__description {
	max-width: 400px;
}
.about__content {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.about__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.about__list > .about__item img {
	width: 100%;
}
.about__item:nth-child(1) {
	grid-column: span 2;
	max-height: 179px;
	padding: 0;
}

.about__item {
	border-radius: 24px;
	background-color: var(--color-milk-white);
	padding: 31px 20px;
}
.about__item--title {
	color: var(--color-red);
	font-size: 68px;
	line-height: 48px;
	margin-bottom: 20px;
}
.about__item--text {
	font-size: 34px;
	line-height: 48px;
}
.about__main-img {
	display: flex;
	background-color: var(--color-red);
	flex-basis: 402px;
	border-radius: 24px;
	overflow: hidden;
}
@media (max-width: 991.98px) {
	.about__description {
		max-width: unset;
	}
	.about__content {
		flex-direction: column;
	}
	.about__list {
		order: 2;
	}
	.about__main-img {
		display: block;
		order: 1;
		margin: 0 auto;
		flex-basis: unset;
		max-width: 350px;
		max-height: 350px;
	}
}
/* @media (max-width: 767.98px) {} */
/* @media (max-width: 479.98px) {} */
@media (max-width: 767.98px) {
	.about__list > .about__item img {
		display: none;
	}
	.about__item {
		padding: 20px;
	}
	.about__list {
		gap: 10px;
	}
	.about__item--title {
		font-size: 40px;
		line-height: 48px;
	}
	.about__item--text {
		font-size: 20px;
		line-height: 20px;
	}
}
/* #endregion */
/* #region CASE */
.case {
	padding-bottom: 54px;
}
.case__description {
	max-width: 635px;
}
.case .case__item {
	display: flex;
	flex-direction: column;
	max-width: 1280px;
	max-height: 820px;

	background-color: var(--color-red);
	border-radius: 24px;
	overflow: hidden;
}
.case .case__item--top {
	overflow: hidden;
	text-align: left;
	flex-grow: 1;
}
.case__first .case__item--top {
	text-align: center;
}

.case .case__item--top img {
	position: relative;
	width: 100%;
}

.case .case__item--bottom {
	max-height: 242px;
	padding: 40px;
	color: var(--color-milk-white);
	background-color: var(--color-red-bg);
	z-index: 10;
}
.case .case__item--title {
	font-size: 64px;
	line-height: 48px;
	margin-bottom: 40px;
}
.case .case__item--list {
	padding-left: 30px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 20px 50px;
	font-size: 30px;
	line-height: 27px;
	font-family: var(--font-darker);
}
.case .case__list--item {
	list-style: disc;
	list-style-position: outside;
}
@media (max-width: 1199.98px) {
	.case .case__item--list {
		font-size: 22px;
	}
}
@media (max-width: 991.98px) {
	.case .case__item {
		height: 646px;
	}
	.case .case__item--title {
		font-size: 28px;
		line-height: 1.2;
		margin-bottom: 10px;
	}
	.case .case__item--top {
		flex: 1 0 60%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	.case .case__item--bottom {
		flex: 1 0 40%;
		max-height: unset;
		padding: 20px;
	}
	.case .case__item--list {
		flex-direction: column;
		font-size: 20px;
		line-height: 22px;
		gap: 8px;
	}
}
@media (max-width: 719.98px) {
	.case .case__item--top {
		flex-basis: 50%;
	}
	.case .case__item--top img {
		width: 130%;
	}
	.case .case__item--bottom {
		flex-basis: 50%;
	}
}
@media (max-width: 479.98px) {
	.case .case__item--top {
		align-items: center;
	}
	.case .case__item--top img {
		width: 145%;
	}
}
/* swiper */
.case .swiper {
	padding-bottom: 58px;
}
.swiper-pagination-progressbar {
	top: unset !important;
	bottom: 0;
	height: 24px !important;
	background-color: var(--color-progress-bar) !important;
	border-radius: 24px !important;
	overflow: hidden;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background-color: var(--color-red) !important;
}
.swiper-button-next,
.swiper-button-prev {
	color: var(--color-milk-white) !important;
	height: 60px !important;
	width: 60px !important;
	border-radius: 100% !important;
	border: 3px solid var(--color-milk-white);
}
.swiper .swiper-button-prev {
	left: 20px;
}
.swiper .swiper-button-next {
	right: 20px;
}
.swiper-button-next::after {
	content: url(../images/case/arrow-right.svg) !important;
	position: relative !important;
	top: -7px !important;
}
.swiper-button-prev::after {
	content: url(../images/case/arrow-left.svg) !important;
	position: relative !important;
	top: -7px !important;
}
@media (max-width: 991.98px) {
	.swiper-button-next,
	.swiper-button-prev {
		height: 40px !important;
		width: 40px !important;
	}
	.swiper-button-next,
	.swiper-button-prev {
		top: 40% !important;
	}
}
/* #endregion */
/* #region FOOTER */
.footer {
	background-color: var(--color-light-dark);
	color: var(--color-milk-white);
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer__container {
	max-width: 1240px;
	margin: 0 auto;
}
.footer__info {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	border-bottom: 1px solid var(--color-grey);
	padding-bottom: 40px;
	margin-bottom: 40px;
}
.footer__logo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer__title {
	font-family: var(--font-syne);
	font-size: 34px;
	line-height: 1;
	letter-spacing: 0.3px;
}
.footer__label {
	font-size: 24px;
	line-height: 28px;
	color: var(--color-white);
}
.info__list .info__heading {
	font-family: var(--font-transforma);
	font-size: 20px;
	line-height: 28px;
	color: var(--color-white);
	margin-bottom: 7px;
}
.info__item {
	font-size: 16px;
	line-height: 26px;
	color: var(--color-grey);
}
.footer_bottom {
	display: flex;
	justify-content: space-between;
}
.footer__copyright {
	font-size: 18px;
	line-height: 20px;
	font-family: var(--font-dmsans);
	color: var(--color-grey);
}
.footer__social {
	display: flex;
	justify-content: space-between;
	gap: 22px;
}
@media (max-width: 991.98px) {
	.footer__container {
		display: flex;
		flex-direction: column;
	}
	.footer__info {
		flex-direction: column;
	}
	.footer__title {
		margin-bottom: 52px;
	}
	.footer__copyright {
		font-size: 14px;
	}
}
/* #endregion */
